style
  include ./footer.scss

div.footer
  div.footer-container
    div.footer-contacts
      h2.footer-title Logo / Company Name
      div.addressCompany Adress: Lorem ipsum dolor sit amet 18600, Netherlands
      div.phone +38 958 755-00-00
      div.social
    div.footer-info
      p.footer-text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis. Quis quo molestias repellat.

p.privacy Privacy Policy - Terms and Conditions
  span.privacy-date © 2019 -
