style
  include footer.css

.footer
  .footer-container
    .footer-contacts
      h2.footer-title Logo / Company Name
      .address #[img.marker-icon(src="../assets/images/svg/marker.svg")] Company Adress: Lorem ipsum<br /> dolor sit amet<br /> 18600, Netherlands
      .phone #[img.phone-icon(src="../assets/images/svg/phone.svg")] +38 958 755-00-00
      .social
        img.social-item(src="../assets/images/svg/facebook.svg")
        img.social-item(src="../assets/images/svg/instagram.svg")
        img.social-item(src="../assets/images/svg/twitter.svg")
        img.social-item(src="../assets/images/svg/youtube.svg")
    .footer-info
      p.footer-text(style="margin-left: 34px") Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet quos ullam atque accusantium ratione molestias soluta, provident nobis, assumenda dolorum voluptas incidunt inventore quia reiciendis quis. Quis quo molestias repellat.

p.privacy #[span.privacy-date © 2019 -] Privacy Policy - Terms and Conditions

