header {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
  height: 100px;
  background-color: #FFFFFF;
}
.nav {
  margin: 0 auto;
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
  height: 55px;
  background-color: #FFFFFF;

  .nav-link:hover {
    color: #2F80ED;
  }
}

.nav-breadcrumbs {
  margin: 0 auto;
  max-width: 1140px;
  min-width: 320px;
  width: 100%;

  .nav-breadcrumbs-link:hover {
    color: #2F80ED;
  }
}
