style
  include styles/header.css

header
  .header-container
    .header-title= page_meta.h1 + ' / LOGO'
nav.nav
  ul.nav-list
    each val in nav
      li.nav-item
        a.nav-link(href=val.href)= val.text
.nav-breadcrumbs
  ul.nav-breadcrumbs-list
    each val in breadcrumbs
      li.nav-breadcrumbs-item
        a.nav-breadcrumbs-link(href=val.href)= val.text
