.main {
  margin: 0 auto;
  max-width: 1140px;
  min-width: 320px;
  width: 100%;
  display: flex;
  justify-content: space-arond;
}
.cards {
  width: 850px;
}
h2 {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.content-container {
  width: 565px;
  margin: 24px 0 23px;
}
.content {
  line-height: 126.3%;
  color: #4F4F4F;
}