@mixin mainWidth($margin: 0 auto, $max-width: 1140px, $min-width: 320px, $width: 100%) {
  margin: $margin;
  max-width: $max-width;
  min-width: $min-width;
  width: $width;
}

$text-color: #4F4F4F;
$title-color: #333333;

.main {
  @include mainWidth;
  display: flex;
  justify-content: space-arond;
  h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: $title-color;
  }
  .cards {
    width: 850px;
  }
}


.content-container {
  width: 565px;
  margin: 24px 0 23px;
    .content {
      line-height: 126.3%;
      color: $text-color;
    }
}
