style
  include styles/main.css

main.main
  .main
    include ./filter
    section.cards
      h2= page_meta.title
      include ./pagination
      .cards-list
        include ./cards
      include ./pagination
      .content-container
        each val in page_text
          p.content= val.content

