style
  include ./pagination.scss

.sort-container
  .pagination
    button.pag-btn &lt;
    button.pag-btn 1
    button.pag-btn 2
    button.pag-btn &gt;
  .sort
    .sort-description Sort by
    select.select-options
      option Sort options